{% extends 'main/layout.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

{% block title %} Головна сторінка {% endblock %}


{% block content %}
    <div class="pricesWrapper">
        <h1>Ціни на автомобілі</h1>
        <table class="price-table">
            <thead>
                <tr>
                    <th>Марка</th>
                    <th>Модель</th>
                    <th>Ціна</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Honda</td>
                    <td>Civic</td>
                    <td>$22,000</td>
                </tr>

                <tr>
                    <td>Ford</td>
                    <td>Mustang</td>
                    <td>$35,000</td>
                </tr>

                <tr>
                    <td>Chevrolet</td>
                    <td>Cruze</td>
                    <td>$20,000</td>
                </tr>

                <tr>
                    <td>BMW</td>
                    <td>3 Series</td>
                    <td>$40,000</td>
                </tr>

                <tr>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>$25,000</td>
                </tr>

                <tr>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>$23,500</td>
                </tr>

                <tr>
                    <td>Ford</td>
                    <td>Mustang</td>
                    <td>$35,000</td>
                </tr>

                <tr>
                    <td>Chevrolet</td>
                    <td>Camaro</td>
                    <td>$32,500</td>
                </tr>

                <tr>
                    <td>BMW</td>
                    <td>X5</td>
                    <td>$45,000</td>
                </tr>

                <tr>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>$25,000</td>
                </tr>

                <tr>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>$23,500</td>
                </tr>

                <tr>
                    <td>Ford</td>
                    <td>Mustang</td>
                    <td>$35,000</td>
                </tr>

                <tr>
                    <td>Chevrolet</td>
                    <td>Camaro</td>
                    <td>$32,500</td>
                </tr>

                <tr>
                    <td>BMW</td>
                    <td>X5</td>
                    <td>$45,000</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}






